.roadmap-wrapper {
    width: 255px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.roadmap-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roadmap-form {
    display: flex;
    flex-direction: column;
}

.roadmap-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #8397F8;
}

.roadmap-input:checked+.roadmap-span {
    font-weight: 500;
    color: black;

}
.roadmap-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 28px;
}