@-webkit-keyframes bodyLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bodyLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes bodyRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bodyRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes bodyTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bodyTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}
@-webkit-keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes showLogin {
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
}
@keyframes showLogin {
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
}
@media only screen and (max-width: 800px) {
  @-webkit-keyframes bounceLeft {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    50% {
      transform: translate3d(0, -80%, 0);
    }
    100% {
      transform: translate3d(0, -80%, 0);
    }
  }
  @keyframes bounceLeft {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    50% {
      transform: translate3d(0, -80%, 0);
    }
    100% {
      transform: translate3d(0, -80%, 0);
    }
  }
  @-webkit-keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(0, -10%, 0);
    }
    100% {
      transform: translate3d(0, -10%, 0);
    }
  }
  @keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(0, -10%, 0);
    }
    100% {
      transform: translate3d(0, -10%, 0);
    }
  }
}
.button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #AD1FEA;
  color: #F2F4FE;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.button:hover {
  background-color: #C75AF6;
}

@media only screen and (max-width: 900px) {
  .button {
    padding: 10px 16px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 450px) {
  .button {
    padding: 8px 14px;
  }
}
@media only screen and (max-width: 360px) {
  .button {
    padding: 6px 12px;
    font-size: 11px;
  }
}/*# sourceMappingURL=button.css.map */