@-webkit-keyframes hamburgerLeft {
  0% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hamburgerLeft {
  0% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
.control-wrapper {
  width: 255px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.frontend-wrapper {
  width: 255px;
  border-radius: 10px;
  color: #FFFFFF;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) center no-repeat;
  margin-bottom: 24px;
  height: 216px;
  position: relative;
}

.frontend-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
  margin: 0;
  padding: 0;
  padding-top: 62px;
  padding-left: 24px;
}

.frontend-button {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 27px;
  right: 28px;
  width: 20px;
  height: 17px;
  background: url(../../assets/images/hamburger-button.svg) center center no-repeat;
}

.frontend-button--active {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 27px;
  right: 28px;
  width: 20px;
  height: 17px;
  background: url(../../assets/images/button-x.svg) center center no-repeat;
}

.frontend-text {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-bottom: 24px;
}

.feature-wrapper {
  width: 255px;
  border-radius: 10px;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  height: 216px;
  display: flex;
  flex-wrap: wrap;
}

.black-wrapper--active {
  position: absolute;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  top: 72px;
  width: 100%;
  height: 100vh;
  z-index: 20;
}

.hamburger-wrapper {
  display: flex;
  flex-direction: column;
}

.onclick-all, .onclick-ui, .onclick-ux, .onclick-en, .onclick-bug, .onclick-feat {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.control-out-form {
  margin-top: 30px;
}

.control-out-button {
  width: 100%;
  background: rgb(58, 67, 116);
}
.control-out-button:hover {
  background: rgb(100, 113, 150);
}

@media only screen and (max-width: 1150px) {
  .control-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .control-out-form {
    position: absolute;
    z-index: 40;
    top: calc(100vh + 120px);
    left: calc(50% - 60px);
  }
  .control-out-button {
    width: 120px;
  }
  .hamburger-wrapper {
    width: calc(100% - 310px);
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
  }
  .feature-wrapper {
    margin-bottom: 0;
  }
  .frontend-wrapper {
    margin-bottom: 0;
    position: relative;
  }
}
@media only screen and (max-width: 900px) {
  .frontend-wrapper {
    width: 215px;
  }
  .hamburger-wrapper {
    width: calc(100% - 228px);
    margin-left: auto;
  }
  .frontend-title {
    padding-top: 133px;
    font-size: 18px;
    padding-left: 18px;
  }
  .frontend-text {
    font-size: 15px;
  }
  .frontend-text {
    padding-left: 18px;
  }
  .feature-wrapper {
    width: 215px;
    padding-left: 18px;
  }
}
@media only screen and (max-width: 700px) {
  .feature-wrapper,
.frontend-wrapper {
    width: 175px;
  }
  .hamburger-wrapper {
    width: calc(100% - 198px);
    justify-content: space-between;
  }
  .frontend-title {
    font-size: 16px;
  }
  .frontend-text {
    font-size: 14px;
  }
  .control-out-form {
    top: calc(100vh + 180px);
  }
}
@media only screen and (max-width: 600px) {
  .hamburger-wrapper {
    display: none;
  }
  .frontend-button {
    display: block;
  }
  .hamburger-wrapper--active {
    display: flex;
    position: absolute;
    top: 72px;
    background: #F7F8FD;
    z-index: 99;
    flex-direction: column;
    width: 271px;
    height: 100vh;
    right: 0px;
    -webkit-animation: hamburgerLeft ease 800ms;
            animation: hamburgerLeft ease 800ms;
  }
  .card-hidden {
    overflow: hidden;
    height: 100%;
  }
  .feature-wrapper {
    width: 223px;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .frontend-wrapper {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0px;
    height: 72px;
  }
  .frontend-title {
    margin-top: 16px;
    padding-top: 0;
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1875px;
    color: #FFFFFF;
  }
  .frontend-text {
    margin-bottom: 16px;
    padding-bottom: 0;
  }
  .control-wrapper {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .control-out-form {
    position: static;
    margin-top: 18px;
  }
  .control-out-button {
    margin-left: 24px;
    width: 223px;
    position: static;
    margin-top: 0;
    margin-top: 0;
    background: rgb(58, 67, 116);
  }
  .control-out-button:hover {
    background: rgb(100, 113, 150);
  }
}
@media only screen and (max-height: 610px) {
  .feature-wrapper, .roadmap-wrapper {
    height: 200px;
  }
  .roadmap-wrapper {
    padding-top: 0;
  }
}
@media only screen and (max-height: 570px) {
  .feature-wrapper, .roadmap-wrapper {
    height: 180px;
  }
  .roadmap-wrapper {
    padding-top: 0;
  }
  .roadmap-head {
    height: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .feature-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=control.css.map */