@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin reset-btn {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@keyframes bodyLeft {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes bodyRight {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes bodyTop {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}
@keyframes bounceLeft {
  0% {
      transform: translate3d(100%, -50%, 0)
  }

  50% {
      transform: translate3d(-30px, -50%, 0)
  }

  100% {
      transform: translate3d(0, -50%, 0)
  }
}


@keyframes bounceRight {
  0% {
      transform: translate3d(0, -50%, 0)
  }

  50% {
      transform: translate3d(calc(100% + 30px), -50%, 0)
  }

  100% {
      transform: translate3d(100%, -50%, 0)
  }
}

@keyframes showSignUp {
  100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
  }
}
@keyframes showLogin {
  100%{
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0)
  }
}
@media only screen and(max-width:800px){
  @keyframes bounceLeft{
      0% {
          transform: translate3d(0, 100%, 0)
      }
  
      50% {
          transform: translate3d(0, -80%, 0)
      }
  
      100% {
          transform: translate3d(0, -80%, 0)
      }
      
  }
  @keyframes bounceRight {
      0% {
          transform: translate3d(0, -50%, 0)
      }
  
      50% {
          transform: translate3d(0, -10%, 0)
      }
  
      100% {
          transform: translate3d(0, -10%, 0)
      }
  }
}