@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin reset-btn {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}