// COLORS
$primary: #AD1FEA;
$blue: #4661E6;
$bdrds: 3px;
$white: #fff;
$black: #000;
$gray: #ccc;
$salmon:#AD1FEA;
$smoky-black: black;
$ff: 'Montserrat', sans-serif;
$ff-body: 12px;
$ff-light: 300;
$ff-regular: 400;
$ff-medium: 500;
