@import "../../sass/mixins";
@import "../../sass/variables";

.feature{
color: #4661E6;
font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
padding: 6px 16px;
background: #F2F4FF;
border-radius: 10px;
display: inline-block;
cursor: pointer;

&:hover{
    background: #CFD7FF;

}
:checked{
    background: #4661E6;
color: #FFFFFF;

}
}