.sort-modal {
    display: none;
    position: absolute;
    width: 255px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -7px #373F6859;
    background: #FFFFFF;
    color: #647196;
    top: 180px;
    left: calc(50% + 20px);
}
.sort-modal-open{
    display: block;
    position: absolute;
    width: 255px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -7px #373F6859;
    background: #FFFFFF;
    color: #647196;
    top: 180px;
    left: calc(50% + 20px);
    padding: 12px 24px;
}

.sort--modal {
    padding: 12px 24px;
}

.sort-span-hr {
    mix-blend-mode: normal;
    opacity: 0.15;
    margin: 0;
    margin: 12px 0;
}
.sort-input:checked + .sort-span{
 &::before{display: block;}
}