.header {
    width: 825px;
    background: #373F68;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header-button {
    margin-right: 24px;
}

.header-text {
    margin-left: 63px;
    position: relative;

    &::after {
        width: 23px;
        height: 24px;
        content: "";
        position: absolute;
        background: url(../../assets/images/logo.svg) no-repeat center center;
        bottom: calc(50% - 12px);
        left: -40px;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
    margin-left: 38px;
    margin-right: auto;
}

.button-wrapper-text {
    margin-right: 5px;
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.sort-button-active {
    border: none;
    background-color: transparent;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
    cursor: pointer;
    position: relative;
    &::after{
        width: 10px;
        height: 5px;
        content: "";
        position: absolute;
        background: url(../../assets/images/check-open.svg) no-repeat center center;
        top: 10px;
        right: -9px;
    }
}
.sort-button-close {
    border: none;
    background-color: transparent;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
    cursor: pointer;
    position: relative;
    &::after{
        width: 10px;
        height: 5px;
        content: "";
        position: absolute;
        background: url(../../assets/images/check-close.svg) no-repeat center center;
        top: 10px;
        right: -9px;
    }
}
@media only screen and(max-width:1150px){
    .header{
        width: 870px;
    }
    .button-wrapper{
        margin-left: 120px;
    }
}

@media only screen and(max-width:900px){
    .header{
        width: 670px;
    }
    .header-text{
        font-size: 22px;
    }
    .button-wrapper{
        margin-left: 50px;
    }
}
@media only screen and(max-width:700px){
    .header{
        width: 570px;
    }
    .button-wrapper{
        margin-left: 25px;
    }
    .header-text{
        font-size: 17px;
        margin-left: 45px;
        &::after{
            left: -30px;
            top: 0px;
        }
    }
}
@media only screen and(max-width:600px){
.header{
    border-radius: 0px;
    width:calc(100% + 142px)
}
main{
    width: 100%;
}
.header-text{
   display: none;
}
}
@media only screen and(max-width:550px){
    .header{
        width:100%;    }
}
