.add-comment-body {
    width: 730px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 129px;
}

.add-comment-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
    padding-left: 34px;
    padding-top: 24px;
}

.add-comment-input {
    width: 90%;
    margin-left: 34px;
    padding-bottom: 42px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #8C92B3;
    border: none;
    background: #F7F8FD;
    border-radius: 5px;

}
.add-comment-bottom{
   margin-left: 34px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 16px;
   margin-right: 34px;
   padding-bottom: 32px;
}
@media only screen and(max-width:900px){
    .add-comment-body{
        width: 670px;
    }
    }
    @media only screen and(max-width:700px){
        .add-comment-body{
            width: 570px;
        }
        .add-comment-title{
            padding-left: 23px;
        }
        .add-comment-input{
            margin-left: 23px;
        }
        .add-comment-bottom{
            margin-left: 23px;
        }
    }
    @media only screen and(max-width:600px){
        .add-comment-body{
            width:calc(100% - 48px);
            margin-left: auto;
            margin-right: auto;
            
        }
        .add-comment-input,.add-comment-bottom{
            width: 87%;
        }
        .maximum-text{
            font-size: 10px;
        }
        
        
    }
    @media only screen and(max-width:450px){
        .add-comment-input,.add-comment-bottom{
            width: 85%;
        } 
    }