.comments {
    margin: 0 auto;
    width: 730px;
    background: #FFFFFF;

}
.comments-row{
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 28px;
}

.comments-replies {
    margin-left: 45px;
}

.comments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-status {
    margin-left: 32px;
}

.user-name {
    margin: 0;
    color: #3A4374;
}

.user-email-name {
    margin: 0;
}

.comment-texts {
    margin-left: 72px;
}

.comment-button {
    border: none;
    background-color: transparent;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    cursor: pointer;
}