.comments {
    margin: 0 auto;
    width: 730px;
    background: #FFFFFF;

}

.comments-row {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 28px;
}

.comments-replies {
    margin-left: 45px;
}

.comments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-image {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;

    &::after {
        position: absolute;
        width: 30px;
        height: 30px;
        background: url(../../assets/images/user-image.png) no-repeat center center;
        content: '';
        top: 0;
        left: 0;
       background-color: #3A4374;
        z-index: 99;
    }

    z-index: 99;

}

.user-status {
    margin-left: 32px;
    position: relative;
    &::after {
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../../assets/images/user-image-svg.svg) no-repeat center center;
        content: '';
        top: 5px;
        left: -60px;
     
      border-radius: 50%;
        z-index: 99;
    }
    
}

.user-name {
    margin: 0;
    color: #3A4374;
}

.user-email-name {
    margin: 0;
}

.comment-texts {
    margin-left: 52px;
}

.comment-button {
    border: none;
    background-color: transparent;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    cursor: pointer;
}
@media only screen and(max-width:600px){
    .user-name{
        font-size: 15px;
    }
    .comments-legth{
        font-size: 16px;
    }
}