@import "../../sass/mixins";
.edit-container {
    width: 540px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 63px;
    margin-bottom: 187px;
    position: relative;

    &::after {
        width: 56px;
        height: 56px;
        content: '';
        position: absolute;
        background: url(../../assets/images/edit.svg) no-repeat center center;
        border-radius: 50%;
        top: -28px;
        left: 42px;
    }
}

.feedback-title {
    padding-top: 52px;
    padding-left: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.333333px;
    color: #3A4374;
    margin-bottom: 40px;
}

.input-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.194444px;
    color: #3A4374;
    margin: 0;
    margin-top: 24px;
}

.input-text {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
}

.edit-form {
    padding-left: 42px;
}

.edit-feedback-wrapper {
    width: 540px;
    margin: 0 auto;
    margin-top: 93px;
} 

.edit-feedback-input{
    max-width: 456px;
    min-width: 456px;
    height: 48px;
    background: #F7F8FD;
    border: none;
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    padding: 24px;
    &:focus{
        border:none;
    }
}
.edit-input-button{
    border: none;
    width: 456px;
    height: 48px;
    background: #F7F8FD;
    border: none;
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    padding-left: 24px;
    text-align: left;
    cursor: pointer;
    

}
.edit-feedback-input-detail{
    height: 96px;
    margin-bottom: 32px;
}
.dark-button{
    background: rgba(58, 67, 116, 1);
    margin-right: 16px;
    &:hover{
        background: #647196;
    }
    
}
.edit-button-wrapper{
    width: 253px;
    display: flex;
    align-items: center;
}
.danger-button{
    background: #D73737;    
    &:hover{
        background: #bb5c5c;
    }
}
.editing-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 42px;
    padding-bottom: 40px;
}